@import "../../../../styles/media.scss";
.matches {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @include tablet() {
    row-gap: 20px;
  }
}

.title {
  display: flex;
  font-size: 12px;
  @include tablet() {
    font-size: 16px;
  }
  div {
    &:not(:first-child) {
      margin-left: 10px;
      @include tablet() {
        margin-left: 30px;
      }
    }
  }
}
