.navigation {
  a {
    display: inline-block;
    padding: 30px 60px;

    background: rgb(122, 122, 122);
    margin: 0 2px;
    text-decoration: none;
    color: #000;
    &.active {
      background: rgb(197, 197, 197);
      font-weight: 500;
      &:hover {
        background: rgb(197, 197, 197);
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: rgb(140, 140, 140);
    }
  }
}
