.result {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  max-width: 100%;
  .card {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    max-width: 100%;
    width: 100%;
    // height: 100%;
  }
}

.emptyList {
  width: 100%;
  padding: 300px 0;
  text-align: center;
}
