.recentTatches {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  .img {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 10px;
    img {
      width: 80px;
      opacity: 0.3;
      grid-row: 2 span;
    }
    .heroName {
      color: red;
      &.win {
        color: green;
      }
    }
  }
}
