@import "../../../../styles/media.scss";
.matches {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @include tablet() {
    row-gap: 20px;
  }
}

.name {
  position: relative;
  .rang {
    position: absolute;
    max-height: 40px;
    width: fit-content;
    right: -30px;
    top: -25px;
    @include tablet() {
      right: -50px;
    }
    .stars {
      position: absolute;
      display: flex;
      justify-content: center;
      // align-items: flex-start;
      top: -4px;
      text-align: center;
      width: 100%;
      @include tablet() {
        top: -6px;
      }
      img {
        height: 5px;
        display: block;
        @include tablet() {
          height: 7px;
        }
      }
    }
    .rangImg {
      max-height: 30px;
      height: 30px;
      width: auto;
      display: block;
      @include tablet() {
        max-height: 40px;
      }
    }
  }
}

.header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: repeat(7, auto);
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 5px;
  font-size: 12px;
  & > div {
    width: max-content;
  }
  @include tablet() {
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr auto;
    font-size: 16px;
  }
  img {
    grid-row: 7 span;
  }
  .calendar {
    grid-row: 7 span;
    grid-column: 2 span;
    @include tablet() {
      grid-column: 1 span;
    }
  }
  div {
    color: rgb(240, 255, 246);
    span {
      font-size: 12px;
      opacity: 0.8;
      color: #fff;
      &.winRateToday {
        margin-left: 6px;
        font-size: 10px;
        @include tablet() {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.title {
  margin-top: 35px;
  margin-bottom: 15px;
}

.playerHeroes {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 12px;
  @include tablet() {
    font-size: 16px;
  }
  // row-gap: 10px;
}

.hero {
  display: grid;
  grid-template-columns: 40px repeat(4, 1fr);
  column-gap: 10px;
  padding: 10px;
  transition: 0.1s;
  align-items: center;
  @include tablet() {
    grid-template-columns: 80px repeat(4, 1fr);
    column-gap: 40px;
  }
}

.notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  img {
    width: 250px;
  }
  div {
    margin-top: 10px;
  }
}

.showMore {
  margin-top: 15px;
  display: inline-block;
  box-shadow: 0px 0px 45px 0px rgba(255, 255, 255, 0.13);
  padding: 5px 15px;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    background: rgb(30, 30, 30);
  }
}
