@import "../../styles/media.scss";
.header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: repeat(7, auto);
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 5px;
  font-size: 12px;
  & > div {
    width: max-content;
  }
  @include tablet() {
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr auto;
    font-size: 16px;
  }
  img {
    grid-row: 7 span;
  }
  .calendar {
    grid-row: 7 span;
    grid-column: 2 span;
    @include tablet() {
      grid-column: 1 span;
    }
  }
  div {
    color: rgb(240, 255, 246);
    span {
      font-size: 12px;
      opacity: 0.8;
      color: #fff;
      &.winRateToday {
        margin-left: 6px;
        font-size: 10px;
        @include tablet() {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.name {
  position: relative;
  .rang {
    position: absolute;
    width: 35px;
    left: -45px;
    top: -20px;
    background: rgba($color: #000000, $alpha: 0.5);
    @include tablet() {
      background: none;
      width: 55px;
      left: -83px;
      top: -25px;
    }
    @include desktop() {
      left: auto;
      right: -120px;
      top: -35px;
      width: 85px;
    }
    .stars {
      position: absolute;
      display: flex;
      justify-content: center;
      // align-items: flex-start;
      top: -4px;
      text-align: center;
      width: 100%;
      @include tablet() {
        top: 0px;
      }
      img {
        width: 100%;
        display: block;
        @include tablet() {
          // width: 100%;
          margin-top: 0px;
        }
      }
    }
    .rangImg {
      width: 100%;
      width: auto;
      display: block;
      @include tablet() {
      }
    }
  }
}
